/* Add CSS styling here */
/*CSS Reset*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
  /*put a border around everything to see where it stops and starts*/
  border:none; 
}
body{
    font-size: 62.5%;
}
h1{
    font-size: 1.8rem;
}
h2{
    font-size: 1.5rem;
}

nav{
    background-color: lightgray;
    padding: 1%;
    padding-bottom: 5%;
    
    
    
    
}

nav button{
    background-color: white;
    border: 1PX solid black;
    padding: 1%;
    text-align: center;
    margin-left: 2.5%;
   
}

.container{

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
    margin: 1%;
    

   
}
#top{
    padding: 2%;
}
.hero-img{
    width: 50%;
    
}
.aboutme{
    width: 40%;
    display:flex;
    flex-direction: column;
    padding-top: 8%;
    

}
.projectcont{
    padding: 10%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
  }
  .projectcont img{
      width: 100%;
      
  }
  
  .box{
    width:25%;
    text-align: center;
    padding: 1%;
  }
  .home{
      background-color: black;
      color: white;
  }
  #foot{
      background-color: lightgray;
      padding: 10%;
      display: flex;
      justify-content: center;
  }
  .aboutme p{
    font-size: 1rem;
  }
#foot{
    font-size: 1.2rem;
    display: flex;
    text-align: center;
}
#foot button{
    padding: 4%;
}